/* App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #6ccb59;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.shop-name {
  color: white;
}

.page {
  text-align: center;
  padding: 20px;
}

.background-image {
  background-image: url('../public/slider-image.jpg');
  background-size: cover;
  height: 500px;
}

button {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 4px;
  background-color: rgb(25, 42, 26);
  border: none;
  cursor: pointer;
  color: white;
}

h1 {
  color: rgb(234, 154, 221);
}


#contact_information{
  margin-top: 400px;
}
